$yellow: #ffbb00;

body{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif !important;
    p{
        // margin: 0;
        // padding: 0;
    }
}
.header-sec{
    .wrapper{
        position: relative;
        height: 100vh;
        .slider-area{
            position: absolute;
            height: 100vh;
            width: 100%;
            top: 0;
            left: 0;
            .owl-item div{
                height: 100vh;
                width: 100%;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: 50% 50%;
            }
            div{
                .slider-text{
                    position: absolute;
                    left: 10%;
                    z-index: 10;
                    top: 40%;
                    // text-align: center;
                    h2{
                        text-transform: uppercase;
                        font-size: 50px;
                        color:#fff;
                    }
                    h3{
                        color: rgba(255,255,255,0.49);
                    }
                }
            }
        }
        .nav-area{
            position: absolute;
            top: 5%;
            // left: 50%;
            text-align: center;
            z-index: 10;
            width: 80%;;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            .logo{
                // text-transform: uppercase;
                a{
                    font-size: 50px;
                    color: white;
                    &:hover{
                        text-decoration: none;
                        color: $yellow;
                        transition: .7s;
                        span{
                            color: white;
                        }
                    }
                    span{
                        color: $yellow;
                    }
                }
                div{
                    text-align: right;
                    a{
                        color: $yellow;
                        text-align: right;
                        text-transform: uppercase;
                        letter-spacing: 4px;
                        font-size: 14px;
                        &:hover{
                            color: #fff;
                            transition: .7s;
                        }
                    }
                }
            }
            .nav {
                a{
                    text-decoration: none;
                    font-size: 20px;
                    text-transform: uppercase;
                    color: #fff;
                    padding: 0 15px;
                    &:hover{
                        color: $yellow;
                        transition: .3s;
                    }
                    .underline{
                        display: flex;
                        align-items: center;
                        .first-child{
                            height: 2px;
                            width: 42%;
                            background-color: $yellow;
                        }
                        .second-child{
                            height: 10px;
                            width: 16%;
                            border-radius: 50%;
                            border: 2px solid $yellow;
                        }
                    }
                }
            }
        }
        
    }
    
}
.services-sec{
    // background-image: url('/images/services.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: auto;
    padding: 100px 0;
    .section-title-container{
        .section-title{
            h1{
                font-size: 110px;
                font-weight: 700;
                color: #1a1a1a;
                line-height: 1.2;
            }
        }
        p{
            font-size: 24px;
            font-weight: 400;
            color: #1a1a1a;
        }
    }
    .services-row{
        .service-slider{
            .slider-top{
                background-color: $yellow;
                margin: 15px;
                padding: 25px;
                color: #1a1a1a;
                &:hover{
                    background-color: #1a1a1a;
                    transition: .9s;
                    cursor: pointer;
                    h1{
                        color: $yellow;
                    }
                    p{
                        color: #fff;
                    }
                }
                h1{
                    font-weight: bold;
                }
                p{

                }
            }
        }
    }
}
.testimonials-sec{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: auto;
    padding: 100px 0;
    .test-text{
        // padding-top: 70px;
        h1{
            color: #fff;
            font-size: 110px;
            font-weight: bold;
        }
        p{
            font-size: 24px;
            color: #fff;
        }
    }
    .box-slider{
        padding: 70px 0px;
        .test-box{
            position: relative;
            background-color: #fff;
            display: flex;
            justify-content: center;
            margin: 0px 15px;
            &:hover{
                background-color: #1a1a1a;
                transition: .5s;
                .box-text{
                    h2{
                        color: $yellow;
                    }
                    p{
                        color: #fff;
                    }
                }
            }
            .box-img{
                position: absolute;
                // left: 50%;
                top: -5%;
                img{
                    border-radius: 50%;
                }
            }
            .box-text{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 45px 30px;
                h2{
                    margin: 40px 0px;
                    font-weight: bolder;
                }
                p{
                    color: #1a1a1a;
                }
                h5{
                    color: $yellow;
                    font-weight: bold;
                }
    
            }
        }
    }
    .test-button{
        text-align: center;
        &:hover{
            a{
                color: $yellow;
                background-color: #fff;
                transition: .5s;
            }
        }
        a{
            color: #fff;
            font-size: 24px;
            font-weight: bold;
            border: 2px solid white;
            padding: 15px 30px;
            text-transform: uppercase;
            text-decoration: none;
        }
    }
}
.footer-sec{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: auto;  
    padding-top: 80px;
    padding-bottom: 50px;
    .footer-caption{
        margin-bottom: 100px;
        color: #fff;
        h1{
            font-size: 110px;
            font-weight: bold;
        }
        p{
            color: rgba(255,255,255,0.49);
            font-size: 24px;
        }
    }
    .contact-sec{
        .contact-side, .comment-side{
            color: #fff;
            h1{
                color: #fff;
                font-weight: bold;
                font-size: 30px;
            }
        }
        .contact-side{
            ul{
                margin: 0;
                margin-top: 50px;
                padding: 0;
                list-style-type: none;
                display: flex;
                flex-direction: column;
                li{
                    display: flex;
                    // align-items: center;
                    p{
                        padding-left: 15px;
                        font-size: 15px;
                    }
                }
                li.social-items{
                    i{
                        background-color: $yellow;
                        border-radius: 50%;
                    }
                }
            }
        }
        .comment-side{
            
        }
    }
}